.jdl-cam {
  text-align: center;
}
.text-vision {
  text-align: center;
}
.center {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}
.input-img {
  width: 200px; /* Set the width according to your design */
  color: black;
}
.preview-img {
  flex: 1;
  margin-right: 20px; /* Adjust margin according to your design */
}
.btn-deteksi {
  margin-top: 10px; /* Adjust margin according to your design */
  margin-right: 10px;
}
.btn-deteksi:hover{
  background-color: #59421c;
}
.prediction {
  flex: 1;
}
.result {
  margin-top: 10px; /* Adjust margin according to your design */
}
/* Additional styling for better appearance */
.center {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.preview-img img {
  width: 100%;
  height: auto;
  border-radius: 5px; /* Optional: Add border-radius for a rounded image */
}

.custom-file-input{
  background-color: #517562;
  padding: 9px 25px;
  margin-right: 10px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.custom-file-input:hover{
  background-color: #1b422d;
}
.file-label-text {
  font-family: "poppins";
  font-weight: 600;
  font-size: 18px;
  color: white; 
  background-color: #517562;
  cursor: pointer; 
  margin-top: 50px;

  /* Add styles for hover effect if needed */
  transition: all 0.3s ease 0s;

}
.custom-file-input:hover .file-label-text {
  background-color: #1b422d; /* Change text color on hover */
}
@media only screen and (max-width: 768px) {
    .center {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
    }
    .file-label-text{
      padding: 0px;
    }
    .preview-img{
      margin-bottom: 20px;
    }
    .btn-deteksi {
      margin-top: 14px;
    }
  }
